body {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	width:400px;
	padding:10px;
	border:1px solid silver;
}

.authors {
	display:flex;
	
}

.authors img {
	flex-flow: row;
	border:none;
	width:50px;
	height:auto;
	margin:5px;
	margin-top: -13px;
} 

.image-number {
	color:silver;
	margin-top: 20px;
}

span {
	color:grey;
	font-family: helvetica;
}

a {
	flex-direction: row;
	color:black;
	font-weight:bold;
	text-decoration: none;
}

ul {
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
}


.octocat {
	position: relative;
	border-bottom: 1px solid #ddd;
}

.octocat:after {
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 7.5px 0 7.5px;
	border-color: silver transparent transparent transparent;
	position:absolute;
	bottom:56px;
	right:63px;
}

.image-footer {
	display:flex;
	justify-content: space-between;
}

.image-caption {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}

.octocat > a > img {
	width: 250px;

}

.octodex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}